@import "tailwindcss";
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background: #020409;
    --foreground: #ffffff;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;

  background-color: var(--background);
  color: var(--foreground);
}
